.course-part{
    
    float: left;
    width: 33%;

}
.course-info{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin: 20px;
    text-align: right;
}
.course-info:hover{
   background-color: gray;
}
.couse-photo{
    text-align: center;
}

.couse-photo img{
    width: 250px;
    height: 200px;
   
}

.course-information{
    text-align: center;
}
button{
    background-color: goldenrod;
    width: 140px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

